
<section class="video-section">
  <div class="video-wrapper">
    <video controls>
      <source src="/assets/audio.mp3" type="audio/mp3">
      <track src="/assets/vid_transcript.vtt" kind="captions" srclang="en" label="English">
</video>
  </div>
  <button class="caption-toggle" aria-label="Toggle captions">Turn On Captions</button>

 

</section>
