
<section class="video-section">
  <div class="video-wrapper">
    <video controls>
      <source src="/assets/video.mp4" type="video/mp4">
      <track src="/assets/vid_transcript.vtt" kind="captions" srclang="en" label="English">
</video>
  </div>
  <button class="caption-toggle" aria-label="Toggle captions">Turn On Captions</button>

  <div class="controls">
    <button id="playPauseBtn" aria-label="Play video"><span class="play-icon" aria-hidden="true">►</span></button>
  </div>

</section>
